<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('./partials/head.ejs')%>
        <link rel="stylesheet" href="../css/relatorio.css">
        <script src="https://kit.fontawesome.com/c9e4967131.js" crossorigin="anonymous"></script>
        <script src="../js/funcoesFront.js" defer></script>
        <script src="../js/transacaoFront.js" defer></script>
        <link rel="stylesheet" href="../css/transacao.css">
        <title>Transação</title>
</head>

<body>

    <header>
        <div class="btn__responsive-relatorio" id="headerRelatorio"></div>
        <div class="relatorio-header">
            <nav class="cabecalho-principal-nav-relatorio " id="headerNav">
                <ul class="cabecalho-principal-nav-relatorio-itens">
                    <li><a class="cabecalho-principal-nav-relatorio-itens-a  home" href="/home">Home</a></li>
                    <li><a class="cabecalho-principal-nav-relatorio-itens-a" href="/centroscustos">Centro de custo</a>
                    </li>
                    <li><a class="cabecalho-principal-nav-relatorio-itens-a" href="/relatorio">Relatorio</a>
                    </li>
                    <li><a class="cabecalho-principal-nav-relatorio-itens-a last" href="/transacao">Transação</a></li>
                </ul>
                <div class="cabecalho-principal-nav-btn btn-accout__relatorio">
                    <button class="cabecalho-principal-nav-sign-in btn-accout__sign-in">Sign in</button>
                    <button class="cabecalho-principal-nav-sign-up btn-accout__sign-up">Sign up</button>
                </div>
            </nav>
        </div>
    </header>
    <picture class="relatorio-img__logo">
        <source media="(max-width:530px )" srcset="../img/LogotipoMobile.png">
        <img src="../img/Logotipo.png" alt="Logotipo">
    </picture>

    <main>
        <!--==============Modal====================-->
        <section style="background-color: white;" class=" section-modal__intro">
            <nav  class="container nav__inserir">
                <button class="btn btn-primary section-modal__filtrar" onclick="exibirModal()" data-bs-toggle="modal"
                    data-bs-target="#reg-modal">
                    Inserir
                </button>
                <button class="section-modal__btn-home"><a href="/home">Voltar para a Home</a><i
                        class="fa fa-solid fa-house"></i></button>
            </nav>

            <!--==============Corpo do Modal====================-->
            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-title">O que deseja?</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="form">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label for="id" class="form-label">ID</label>
                                        <input type="text" name="id" id="id" class="form-control" readonly>
                                    </div>
                                    <div class="col-md-11">
                                        <label for="tipo" class="form-label">Centro de custo</label>
                                        <select name="tipo" class="w-100 form-select" id="tipo" data-live-search="true">
                                            <% dados.forEach(element=> { %>
                                                <option value="<%= element.centros_custo.dataValues.idCentroCusto %> ">
                                                    <%= element.centros_custo.dataValues.nomeCentroCusto %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="descricao" class="form-label">Descrição</label>
                                        <input type="text" name="descricao" id="descricao" class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="valor" class="form-label">Valor</label>
                                        <input type="number" name="valor" id="valor" class="form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" onclick="gravarTransacao()" id="gravar">Gravar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <!--==============Saida====================-->
        <div class="tabela-relatorio__section">
            
            <section>
                
                <div class="container">
                    <div class="card-header bg-success">
                        <h4 class="display-4 text-center text-light"><i class="fas fa-chart-bar"></i>Transações</h4>
                    </div>
                    <table class="table align-baseline table-striped table-hover table-sm text-center">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>
                                    <span>Ações</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div class="tbscroll">
                        <table
                            class="table table-striped align-baseline table-striped table-hover table-sm text-center">
                            <tbody id="tbody" class="">
                                <% dados.forEach(element=> { %>
                                    <tr>
                                        <td>
                                            <% if (element.centros_custo.dataValues.idTipo==2) { %>
                                                Receita
                                                <% } else if (element.centros_custo.dataValues.idTipo==3) { %>
                                                    Investimento
                                                    <% }else if (element.centros_custo.dataValues.idTipo==1) { %>
                                                        Despesa
                                                        <% } %>
                                        </td>
                                        <td>
                                            <%= element.centros_custo.dataValues.nomeCentroCusto %>
                                        </td>
                                        <td>
                                            <%= element.descricaoTransacao %>
                                        </td>
                                        <td>R$ <%= element.valorTransacao %>
                                        </td>
                                        <td>
                                            <div class="botoesAcc">
                                                <button class="btn btn__table btn-primary fa fa-edit mx-1"
                                                    onclick=<%-'"editar(`/transacao`,'+element.idTransacao+')"'%>></button>
                                                <button class="btn btn__table btn-danger fa fa-times mx-1"
                                                    onclick=<%-'"accDelete(`/transacao`,'+element.idTransacao+')"'%>></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="container">

            </section>
        </div>
    </main>

    <%- include('./partials/footer.ejs')%>

</body>

</html>